<footer>
    <br>
    <br>
    <hr>
    <a class="text-monospace" target="_BLANK" href="https://github.com/eone666/course-work">Check it on <i class="fab fa-github"></i> GitHub!</a>
</footer>
</div><!-- /.containner -->
<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/popper.js/dist/popper.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>