<footer class="mt-5 mb-3 pt-3 border-top">
    <a class="text-monospace" target="_BLANK" href="https://github.com/eone666/course-work">Check it on <i class="fab fa-github"></i> GitHub!</a>
</footer>
</div><!-- /.containner -->
<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/popper.js/dist/popper.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.tiny.cloud/1/ko16dyacuhbclsgrfmq6ymae1t3awkp4va5vzrg9qvo2alr3/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="/tinymce_languages/langs/ru.js"></script>
<script>
    tinymce.init({
      selector: '#description',
      language:'ru'
    });
  </script>
</body>

</html>