<footer>
    <br>
    <br>
    <hr>
    <p>Author: Ivan Avdeyev [eone.ukg@gmail.com]</p>
</footer>
</div><!-- /.containner -->
<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/popper.js/dist/popper.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>