<%- include('./header.ejs'); %>
<h2>Задание курсовой</h2>

<p>Разработка приложения для предметной области «Сведения о памятниках истории и архитектуры».</p>
<p>Задание. Разработать приложение на Delphi, позволяющее собирать и накапливать сведения о памятниках истории и
архитектуры, представляющих историческую и государственную ценность. Структура приложения обязательно должна включать
следующие классы, созданные студентом: памятник, регион, создатель памятника, вид памятника, экспертная оценка состояния
и др.</p>
<%- include('./footer.ejs'); %>